.MessageList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.Message {
  min-width: 300px;
  text-align: left;
  border-radius: 15px;
  border: 1.5px solid darkgrey;
  background-color: greenyellow;
  padding: 15px;
  font-size: 1.5em;
  margin: 10px 0;
}

.Message-wrapper {
  display: flex;
  flex-direction: column;
}

.Message-time {
  text-align: end;
  color: grey;
}
