.MessageList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.Message {
  max-width: 50%;
  align-self: flex-end;
  text-align: left;
  border-radius: 15px;
  background-color: greenyellow;
  padding: 15px;
  color: #222;
  margin: 10px 0;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

.Message-wrapper {
  display: flex;
  flex-direction: column;

}

.Message-time {
  text-align: end;
  color: grey;
  font-size: 0.80em;
}

.message-enter {
  opacity: 0.01;
}

.message-enter.message-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.message-leave {
  opacity: 1;
}

.message-leave.message-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
