.App {
  text-align: center;
  background-color: #fafbfc;
}

.Body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  min-height: calc(100vh - 100px);
}

@media only screen and (min-width: 450px) {
  .Body {
    margin: 0 5%;
  }
}

@media only screen and (min-width: 550px) {
  .Body {
    margin: 0 10%;
  }
}

@media only screen and (min-width: 700px) {
  .Body {
    margin: 0 15%;
  }
}

@media only screen and (min-width: 850px) {
  .Body {
    margin: 0 25%;
  }
}

@media only screen and (min-width: 1000px) {
  .Body {
    margin: 0 30%;
  }
}
